/* CSS BY Garrett Chin */

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Kavoon&display=swap');

/* ROOT VARIABLES */
:root{
    /* Google Imported Fonts */
    --fonts: "Inter", "Kavoon", sans-serif;
    /* Colors */
    --teal: #4CA7C0;
    --purple: #484FB7;
    --lavender: #6B8FE7;
    --yellow: #E9BB57; 
    --pink:#D9526F;
    --dark-gray:#1E1E1E; 
    --white:#ffffff;
}

header{
    background-color: var(--lavender);
}


header p{
    background-color: var(--pink);
    color: var(--white);
}

body{
    margin: 0 auto;
    background-color: var(--purple);
    width: 450px;
}

section{
    background-color: var(--white);
}

/* CSS REST */
h1, h2{
    font-family: "Kavoon";
}

text{
    font-family: "Inter";
}

p{
    font-family: "Inter";
}

/* GLOBAL STYLES (mobile first/small) */
h1{
    font-size: 3em;
    color: var(--white);
}

nav{
    background-color: var(--yellow);
}

nav h2{
    height: 1px;
    font-size: 1.5em;
    color: var(--dark-gray);
    text-align: right;
}

nav h2 a{
    display: inline-block;
    margin: 30px;
    border-radius: 30px;
    float: right;
}

nav a{
    display: block;
    font-weight: bold;
    text-decoration: none;
    color: var(--dark-gray);
    background-color: var(--teal);
    visibility: hidden;
}

nav ul{
    list-style: none;
}

nav li{
    line-height: 2rem;
    margin: 10px 0px 10px -40px;
}

h2{
    font-size: 2em;
    color: var(--yellow);
}

h3{
    font-size: 1.5em;
}

h4{
    font-size: 1.15em;
}

/* ----- TABLE STYLES ----- */
table{
    width: 245px;
    margin: 0 auto;
}

caption{
    font-weight: bold;
    font-size: 1.35rem;
    margin: 0.75rem auto;
}

thead{
    background-color: var(--yellow);
    border-radius: 0.25rem;
}

thead tr{
    border-bottom: 2px solid var(--dark-gray);
}

th{
    font-weight: bold;
}

tr{
    border-bottom: 2px solid var(--dark-gray);
}

td, th{
    padding: 0.5rem;
}

td{
    display: table-cell;
    unicode-bidi: isolate;
}

#takethefirststep{
    color: var(--white);
    background-color: var(--pink);
}

#takethefirststep a{
    display: block;
    text-align: center;
    font-weight: bold;
    text-decoration: none;
    color: var(--dark-gray);
    background-color: var(--white);
}

#takethefirststep h2{
    color: var(--white);
}

#ourservices{
    background-color: var(--white);
}

footer a{
    display: block;
    text-align: center;
    font-weight: bold;
    text-decoration: none;
    color: var(--white);
    background-color: var(--teal);
}

footer{
    color: var(--white);
}

input{
    padding: 0.25rem;
    display: block;
    font-size: 1rem;
}