:root{
    /* Fonts */
    /* Add to your CSS Under Imported Fonts */
    --fonts: "Inter", "Kavoon", url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Kavoon&display=swap');
    /* Colors */
    --teal: #4CA7C0;
    --purple: #484FB7;
    --lavender: #6B8FE7;
    --yellow: #E9BB57; 
    --pink:#D9526F;
    --dark-gray:#1E1E1E; 
    --white:#ffffff;
}

H1, H2
Kavoon
All other text
Inter
H1
3em
NAV H2
1.5em
H2
2em
H3
1.5em
H4
1.15em
 

